{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <div class="">
        <h3>Buy stocks</h3>
    </div>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" name="symbol" autofocus autocomplete="off" placeholder="Stock name">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" name="shares" autofocus autocomplete="off" placeholder="Number of stocks to purchase">
        </div>
        <button class="btn btn-primary" type="submit">Buy</buton>
    </form>
{% endblock %}