{% extends "layout.html" %}

{% block title %}
    Stock Information
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h3>"{{ stockInfo["name"] }}" stock details</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stockInfo["name"] }}</td>
                <td>{{ stockInfo["price"] }}</td>
                <td>{{ stockInfo["symbol"] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}